* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 2rem;
  padding: 1rem;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  background-color: #213547;
  border: 2px solid #535bf2;
  border-radius: 3px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  padding: 3.2rem 4rem;
  gap: 1.6rem;
  align-items: center;
}

.card__name {
  font-size: 3rem;
}

.card__flag {
  width: 25rem;
}

.card__flag--img {
  object-fit: contain;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}

.form__input {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 2rem;
  padding: 1rem;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  text-align: center;
}
.form__input:hover {
  border-color: #646cff;
}
.form__input:focus,
.form__input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.answer-validation__icon {
  opacity: 1;
  display: block;
  transform: translate(0);
  transition: all 0.2s;
  font-size: 4rem;
}

.hidden {
  display: hidden;
  opacity: 0;
  transform: translateY(80%);
}
